<html>
   
    <body>
<header>
<ul class="mainheader_links" id="navi">


    <a href="#"><img class="cloudlogo" src="assets/logo.png"></a>
    <li class="menu"  style="font-size:14px;  margin-left: 10px;"><a href="register">SIGNUP</a></li>
    <li class=" menu" style="font-size:14px;"><a href="login">SIGNIN</a></li>
    <li class=" menu" style="font-size:14px;"><a href="aboutus">ABOUT US</a></li>
    <li class=" menu" style="font-size:14px;"><a (click)="mycart()">MY CART</a></li>
    <li class=" menu" style="font-size:14px;"><a href="#">HOME</a></li>

</ul>

</header>



  </body>

  </html>
