/* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
  }
  
.pa{
    margin-top: 100px;
}
  * {
    box-sizing: border-box;
  }
  .container {
    padding: 16px;
    background-color: white;
  }
  .loginbtn {
    background-color: rgb(223, 57, 57);
    color: black;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  } */



  
body {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  height: 100%;
  width: 100%;
}

#email {
  width: 374px;
  font-size: 18px;
  height: 44px;
  color: #a0a0a0;
  border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}

#pwd {
  width: 374px;
  height: 44px;
  font-size: 18px;
  color: #a0a0a0;
  border-radius: 7px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}


#forgot {
  float: right;
  color: #a0a0a0;
  font-size: 14px;
  display: inline;
  margin-right: 35px;
}

.checkbox {
  display: inline;
}

#signin {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 7px;
  font-weight: bold;
  border: none;
  background-color: #12abdb;
  border-radius: 3px;
  width: 374px;
  height: 35px;
  border-radius: 25px;
  
}


